  mypy==0.641
  pylama>=7,<8
  pylint>=2,<3
  snapshottest>=0,<1
  pytest>=3,<4
  pytest-mock>=1,<2
  pytest-cov>=2,<3
  pytest-watch>=4,<5
  pytest-datadir>=1,<2
  pytest-flask>=0,<1
  pytest-html>=1
  simpleitk==1.2.0