.background {
    width: 110%;
    height: 100%;
    /* background-color: #4d4d4d; */
    background: transparent;
    /* display: flex */
  } 
  
  .loginForm {
      width: 300px;
    }
  
    .loginFormForgot {
      float: right;
    }
  
    .loginFormButton {
      width: 100%;
    }

    .font {
      color: #ccc
    }