body {
  background-color: #343434;
  color: #969596;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  margin: 0;
  padding: 0;
}

#root > div {
  height: 100vh;
  display: flex;
  flex-flow: column;
}
.clearfix{
  overflow: auto;
}

.mainnav {
  z-index: 100;
  width: 100%;
  flex: 0 1 auto;
}


.mainPanel {
  width: 80%;
  flex: 1 1 auto;
  display: flex;
}
.viewportElement{
  height: calc(100vh - 3.4rem);
}

.mainlabel {
  position: absolute;
  right: 0;
  top: 3.5rem;
  width: 20%;
}
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 1100px) {
    .mainlabel{
        top:4.1rem;
    }
}

.hide{
  display: none;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
  position: absolute;
  right: 0.2rem;
  top:0.2rem;
}
a {
  text-decoration: none;
  font-size: 14px;
  color: black;
}
a:hover{
  color:red;
}