<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Babylon - Getting Started</title>
    <!-- Link to the last version of BabylonJS -->
    <script src="https://preview.babylonjs.com/babylon.js"></script>
    <!-- Link to the last version of BabylonJS loaders to enable loading filetypes such as .gltf -->
    <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <!-- Link to pep.js to ensure pointer events work consistently in all browsers -->
    <script src="https://code.jquery.com/pep/0.4.1/pep.js"></script>
    <script src="./contours_0.js"></script>
    <style>
        html, body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #renderCanvas {
            width: 100%;
            height: 100%;
            touch-action: none;
        }
    </style>
</head>
<body>
<canvas id="renderCanvas"></canvas>

<script>
    window.addEventListener('DOMContentLoaded', function () {
        // All the following code is entered here.
        var canvas = document.getElementById('renderCanvas');
        var engine = new BABYLON.Engine(canvas, true);
        /*var createScene = function () {
            // Create a basic BJS Scene object.
            var scene = new BABYLON.Scene(engine);

            // Create a FreeCamera, and set its position to (x:0, y:5, z:-10).
            var camera = new BABYLON.FreeCamera('camera', new BABYLON.Vector3(0, 5, -10), scene);

            // Target the camera to scene origin.
            camera.setTarget(BABYLON.Vector3.Zero());

            // Attach the camera to the canvas.
            camera.attachControl(canvas, false);

            // Create a basic light, aiming 0,1,0 - meaning, to the sky.
            var light = new BABYLON.HemisphericLight('light1', new BABYLON.Vector3(0, 1, 0), scene);

            // Create a built-in "sphere" shape.
            var sphere = BABYLON.MeshBuilder.CreateSphere('sphere', {segments: 16, diameter: 2}, scene);

            // Move the sphere upward 1/2 of its height.
            sphere.position.y = 1;

            // Create a built-in "ground" shape.
            var ground = BABYLON.MeshBuilder.CreateGround('ground1', {height: 6, width: 6, subdivisions: 2}, scene);

            // Return the created scene.
            return scene;
        };*/


        var createScene = function () {
            var scene = new BABYLON.Scene(engine);

            var camera = new BABYLON.ArcRotateCamera("Camera", 0, 0, 0, BABYLON.Vector3.Zero(), scene);
            camera.setPosition(new BABYLON.Vector3(0, 0, 0));
            camera.attachControl(canvas, true);
            camera.allowupsidedown = true;
            camera.radius = 20;


            var light = new BABYLON.HemisphericLight("hemi", new BABYLON.Vector3(0, 1, 0), scene);

            var contours = data.contours;
            var mean = data.mean;
            var std = data.std;
            var frame_idx = 3;
            var frame_len = contours.length;
            var lines = [];
            var first_frame = contours[frame_idx];
            var default_color = new BABYLON.Color3(0.93, 0.93, 0.93);
            var desc_color_mapping = [{"reg": /CH/ig, "color": new BABYLON.Color3(0.25, 0.47, 1)},
                {"reg": /^SAX/ig, "color": new BABYLON.Color3(1, 0.5, 0.39)},
            ];
            for (let len = first_frame.length, i = 0; i < len; i++) {
                var myPoints = first_frame[i].data.map((vector) => new BABYLON.Vector3((vector[0] - mean[0]) / std[0], (vector[1] - mean[1]) / std[1], (vector[2] - mean[2]) / std[2]));
                var desc = first_frame[i].desc;
                for (let len = desc_color_mapping.length, i = 0; i < len; i++) {
                    if (desc_color_mapping[i].reg.test(desc)) {
                        default_color = desc_color_mapping[i].color;
                        break;
                    }
                }
                var line_color = default_color;

                var line = BABYLON.MeshBuilder.CreateLines("lines", {points: myPoints}, scene);
                line.color = line_color;
                line.isPickable = true;
                //line.enableEdgesRendering();
                //line.edgesWidth = 5;

                lines.push(line)
            }
            frame_idx = (frame_idx + 1) % frame_len;

            scene.onPointerDown = function(evt, pickResult){
                if(pickResult.hit){
                    console.log(pickResult.pickedMesh);
                }
            };

            /*setInterval(function () {
                for (let len = lines.length, i = 0; i < len; i++) {
                    line = lines.pop();
                    line.dispose();
                }

                let frame_contour = contours[frame_idx];
                for (let len = frame_contour.length, i = 0; i < len; i++) {
                    var myPoints = frame_contour[i].data.map((vector) => new BABYLON.Vector3((vector[0] - mean[0]) / std[0], (vector[1] - mean[1]) / std[1], (vector[2] - mean[2]) / std[2]));
                    var desc = first_frame[i].desc;
                    for (let len = desc_color_mapping.length, i = 0; i < len; i++) {
                        if (desc_color_mapping[i].reg.test(desc)) {
                            default_color = desc_color_mapping[i].color;
                            break;
                        }
                    }
                    var line_color = default_color;

                    var line = BABYLON.MeshBuilder.CreateLines("lines", {points: myPoints}, scene);
                    line.color = line_color;
                    //line.enableEdgesRendering();
                    //line.edgesWidth = 5;
                    lines.push(line);
                }
                frame_idx = (frame_idx + 1) % frame_len;

            }, 200);*/


            //Array of points to construct lines
            /*var myPoints = [
                new BABYLON.Vector3(0, 0, 0),
                new BABYLON.Vector3(0, 1, 1),
                new BABYLON.Vector3(0, 1, 0)
            ];

            //Create lines
            var lines = BABYLON.MeshBuilder.CreateLines("lines", {points: myPoints}, scene);
            */
            return scene;
        }

        var scene = createScene();
        engine.runRenderLoop(function () {
            scene.render();
        });

        window.addEventListener('resize', function () {
            engine.resize();
        });


    });
</script>
</body>
</html>