<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ATMI - Annotation Tool for Medical Image</title>
    {{ stylesheet_tag("main_css") | safe }}
    <script>
        ATMI_STATUS = {'username': '{{data.username}}', 'ini_admin':{{data.ini_admin}}}
    </script>
</head>
<!-- <body style="width: 100%; height: 100%; background-color: #4d4d4d;"> -->
<body style="width: 100%; height: 100%;">
<div id=main></div>
<div id="root"></div>
{{ javascript_tag("app_js") | safe }}
</body>
</html>