.navlist {
    /*margin-right: .5rem;*/
    padding: 0.2rem 1rem;
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: #000;
    cursor: pointer;
    text-align: center;
    position: relative;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 1100px) {
    .navlist{
        padding: 0.5rem 0.5rem;
    }

}

.home{
    color:#969596;
    font-size: 16px;
}

.navlist:hover,.navlist a:hover {
    color: tomato;
}

.active{
    color: tomato;
}

.barstyle {
    width: 100%;
    border-bottom: 1px solid #424242;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.row{
    display: flex;
    flex-wrap: wrap;
}