
.title {
    padding: 0.5rem 1rem;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #333;
    background: #424242;
}
.status{
    float: left;
}

.autosave{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .175rem .55rem;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.finished{
    position: absolute;
    right: 1rem;
}
.disable{
    background-color: #6c757d!important;
    border-color: #6c757d!important;
}
.autosave:active{
    color: #fff;
    background-color: #0062cc;
    border-color:#005cbf;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255 ,.5)
}
.autosave:hover{
    color: #fff;
    background-color: #0069d9;
    border-color:#0062cc;
}

.autosave_ok:active{
    color: #fff;
    background-color: #1e7e34;
    border-color:#1c7430;
    box-shadow: 0 0 0 0.2rem rgba(72,180,97,.5)
}
.autosave_ok:hover{
    color: #fff;
    background-color: #218838;
    border-color:#1e7e34;
}
/*.autosave{*/
/*    font-size: 10px;*/
/*    float: left;*/
/*    padding: 1px 4px 3px 4px;*/
/*    -webkit-border-radius: 4px;*/
/*    -moz-border-radius: 4px;*/
/*    border-radius: 4px;*/
/*    color: black;*/
/*    cursor:pointer;*/
/*}*/

.autosave_ok{
    background-color: #28a745;
}
.autosave_err{
    background-color: #aaa;
}

.labelitem {
    margin: 0.5rem 1rem;
    padding: 0.8rem 1rem 0.8rem 0;
    cursor: pointer;
    text-align: left;
    background-color: #A5A5A5;
    color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border-bottom: 1px solid #424242;
}

.labelitem i {
    display: block;
    float: left;
    margin: -0.6rem 0 0 0.3rem;
    height: 5px;
    width: 5px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.labelitem:hover i {
    background: tomato;
}

.studylabelitem {
    margin: 0.5rem 1rem;
    padding: 0.8rem 1rem 0.8rem 0;
    cursor: pointer;
    text-align: left;

}

.studylabelitem input, .studylabelitem select {
    width: 8rem;
}

.active {
    background: tomato !important;
}

.labeled {
    background-color: lightsteelblue;
}

.delete {
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    padding: 0.8rem 0;
}

.delete:hover, .hide:hover {
    color: tomato;
}

.hide {
    position: absolute;
    left: 0.5rem;
    top: 0;
    width: 2rem;
    padding: 0.8rem 0;
}

.icon {
    display: block;
    float: left;
    margin: 4px 5px 0 2rem;
    height: 1rem;
    width: 1rem;
    border: 1px solid #969696;
}

.table {
    display: table;
}

.table input, .table select {
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    line-height: 1.5;
    padding: .2rem;
    width: 100%;
    margin: .2rem 0

}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: .5rem;
}
.button{

}